@font-face {
    font-family: Baloo-Regular;
    src: url(./src/fonts/Baloo2-Regular.ttf);
}

@font-face {
    font-family: Baloo-Medium;
    src: url(./src/fonts/Baloo2-Medium.ttf);
}

* {
    font-family: Baloo-Regular;
}

#header {
    height: 7%;
}

#header div {
    text-align: center;
    width: 33%;
    float:left;
    top: 0;
}

#header #menu-div {
    text-align: left;
}

#header #sidenav-div {
    text-align: right;
}

#room-code-div {
    text-align: center;
}

#gameplay {
    /* background-color: yellow; */
    position: absolute;
    height: 80%;
    width: 100%;
    text-align: center;
    /* float: left; */
}

#gameplay #team1-scores {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

#gameplay #team2-scores {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

#gameplay #game-board {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}

#hand {
   /* nothing */
}

.name {
    position: relative;
}

#scoreboard {
    position: absolute;
    right: 100px;
    top: 100px;
    width: 400px;
    height: 300px;
    border: 2px solid;
}

#scoreboard-header, #total-scores-header {
    text-align: center;
    border-bottom: 2px solid;
}

#total-scores-header {
    border-top: 2px solid;
}

#current-score {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
}

#team1, #team1-total-score-div {
    position: relative;
    float: left;
    /* margin-left: 30px; */
    
    position: top;
    text-align: center;
    width: 50%;
    /* height: 100%; */
}

#team2, #team2-total-score-div {
    position: relative;
    float: right;
    /* padding-right: 30px; */
    text-align: center;
    width: 50%
}

#team1-name, #team2-name {
    overflow-wrap: break-word;
}

#total-scores {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 20px 0px;
    text-align: center;
}

#team1-total-score, #team2-total-score {
    text-align: center;
    font-size: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px 30px 50px 30px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-button {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button */
#quit {
    float: right;
}

#ready {
    float: left;
    background-color: red;
}


.modal-button:hover,
.modal-button:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

canvas {
    background-color: lightgreen;
}

h1 {
    text-align: center;
    margin: 10px 0px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    
}

span {
    font-size: large;
}

.main-button-container {
    display: inline-block;
}
.main-button {
    background-color: #C5FCD8;
    height: 50px;
    font-size: 20px;
    width: 300px;
    margin: 10px;
    line-height: 250%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
}

.main-button:hover {
    cursor: pointer;
    background-color: #D8FDE5;
    box-shadow: 0px 0px 8px #888888;
}

.title-container {
    font-size: 80px;
    line-height: 700%;
    height: 50%;
    font-family: Baloo-Medium;
    user-select: none; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.grid {
    display: none;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    
}
.cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
    line-height: 300%;
}
.cell:nth-child(3n) {
    background-color: #F00;
}