@font-face {
    font-family: Baloo-Regular;
    src: url(./src/fonts/Baloo2-Regular.ttf);
}

@font-face {
    font-family: Baloo-Medium;
    src: url(./src/fonts/Baloo2-Medium.ttf);
}

:root {
    --green: #83E383;
    --light-green: #90ee90;
    --extra-light-green: #eefbee;
}

* {
    font-family: Baloo-Regular;
}

.background {
    background-color: var(--extra-light-green);
}

#header {
    height: 7%;
}

#header .topnav {
    text-align: center;
    width: 33%;
    float:left;
    top: 0;
}

#header #menu-div {
    text-align: left;
}

#header #sidenav-div {
    text-align: right;
}

#room-code-div {
    text-align: center;
}

#gameplay {
    height: 80%;
    width: 70%;
    text-align: center;
    margin: auto;
}

#gameplay #team1-scores {
    position: relative;
    float: left;
    width: 25%;
}

#gameplay #team2-scores {
    position: relative;
    float: left;
    width: 25%;
}

#gameplay #game-board {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}

.name {
    position: relative;
}

#scoreboard {
    position: absolute;
    right: 100px;
    top: 100px;
    width: 400px;
    height: 300px;
    border: 2px solid;
}

#scoreboard-header, #total-scores-header {
    text-align: center;
    border-bottom: 2px solid;
}

#total-scores-header {
    border-top: 2px solid;
}

#current-score {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    width: 10%; /* Could be more or less, depending on screen size */
    max-width: 20%;
    text-align: center;
}

.game-over-button {
    font-size: 15px;
    border-width: 0;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
}

/* The Close Button */
#quit {
    float: left;
    background-color: #eeeeee;
}

#quit:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#ready {
    float: right;
    background-color: var(--light-green);
}

#ready:hover {
    background-color: var(--green);
    cursor: pointer;
}

canvas {
    background-color: var(--green);
}

h1 {
    text-align: center;
    margin: 10px 0px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    
}

span {
    font-size: large;
}

.main-button-container {
    display: inline-block;
}
.main-button {
    background-color: var(--light-green);
    height: 50px;
    font-size: 20px;
    width: 300px;
    margin: 20px;
    line-height: 250%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
}

.main-button:hover {
    cursor: pointer;
    background-color: var(--green);
    box-shadow: 0px 0px 8px #888888;
}

.title-container {
    font-size: 80px;
    line-height: 700%;
    height: 50%;
    font-family: Baloo-Medium;
    user-select: none; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.grid {
    display: none;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    
}
.cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    line-height: 300%;
}

.empty-room-person {
    background-color: var(--light-green);
    border-radius: 5px;
}

.empty-room-person:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #888888;
}

.full-room-person {
    background-color: #dddddd;
    border-radius: 5px;
}

.full-room-person:hover {
   
}

.cardholder {
    background-color: #dddddd;
    height: 200px;
    width: 90%;

    margin: 10px;
    padding: 10px;
    
    border-radius: 10px;
    display: inline-block;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #888; /* Black*/
    padding-top: 60px; /* Place content 60px from the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenav-button:hover {
    color: #888;
}

.icon {
    width: 30px !important;
    height: 30px !important;
}

.icon:hover {
    top: -10px;
    box-shadow: 0px 10px 10px;
}

#name0:focus {
    outline: 0;
}
/* #choose-trump-modal {
    display: block;
} */

#choose-trump-modal .modal-content {
    max-width: 50%;
}

.trump-card:hover {
    position: relative;
    top: -5px;
}